@page
@model IndexModel
@{
    ViewData["Title"] = "Jardins du Nord";
}

<!-- Barre de navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow-lg" id="nav">
    <div class="container">
        <!-- Logo -->
        <img src="img/Logo_Nav_only.png" alt="Logo entreprise" style="height: 67px;width: 87px;">

        <!-- Bouton mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- contenu -->
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#find">Lieu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<div class="container-fluid" id="header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-center" id="header-pres">
                <img src="img/logo_pres.png" alt="Jardins du Nord"/>
                <p class="text-white">Paysagistes confirmés</p>
            </div>
            <div class="col-md-6 text-center">
                <figure class="text-white">
                    <blockquote class="blockquote">
                        <p>"Jardins sur mesure depuis 1982"</p>
                    </blockquote>
                    <figcaption class="blockquote-footer text-white">
                        Albert Martin, <cite>fondateur</cite>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>

<!-- Pres cards -->
<div class="container text-center" id="services">
    <!-- Entretien -->
    <div class="row align-items-center presentation-card">
        <div class="col-md-3">
            <img class="img-thumbnail rounded" src="img/entretien.png"/>
        </div>
        <div class="col-md-9 text-md-start">
            <div class="row">
                <div class="col-12">
                    <h1 class="company-greener">Entretien</h1>
                </div>
                <div class="col-12">
                    <p class="presentation-text">Forts de notre expertise et de notre engagement envers la satisfaction de nos clients, nous sommes fiers de vous offrir des services d'entretien paysager de haute qualité. Chez <span class="company-green">Jardins du Nord</span>, nous comprenons l'importance de maintenir vos espaces verts impeccables tout au long de l'année. Notre équipe de professionnels qualifiés est dédiée à prendre soin de votre jardin, de vos pelouses, de vos parterres de fleurs et de tous les éléments qui contribuent à la beauté et à la fonctionnalité de votre espace extérieur. Nous adaptons nos services d'entretien paysager à vos besoins spécifiques. Nous proposons une gamme complète de prestations, incluant la tonte et l'arrosage des pelouses, la taille des haies et des arbustes, le désherbage, l'enlèvement des feuilles, ainsi que l'application d'engrais et de produits phytosanitaires respectueux de l'environnement. Nous privilégions des méthodes durables dans nos pratiques d'entretien, et mettons également un point d'honneur à utiliser des équipements modernes et performants, permettant d'optimiser nos interventions tout en minimisant notre empreinte écologique.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Création -->
    <div class="row align-items-center presentation-card">
        <div class="col-md-9 order-2 text-md-start">
            <div class="row">
                <div class="col-12">
                    <h1 class="company-greener">Création</h1>
                </div>
                <div class="col-12">
                    <p class="presentation-text">Chez <span class="company-green">Jardins du Nord</span>, nous sommes passionnés par la création d'espaces extérieurs uniques et inspirants qui reflètent votre vision et votre style de vie. Que vous souhaitez transformer votre jardin en un havre de paix, créer une ambiance conviviale pour recevoir vos proches ou aménager un espace de détente moderne, notre équipe d'experts en aménagement paysager est là pour concrétiser vos idées. Que vous recherchiez un design paysager contemporain, traditionnel ou éclectique, nous sommes en mesure de créer des aménagements sur mesure qui mettent en valeur les caractéristiques naturelles de votre terrain. De la sélection des végétaux adaptés à votre climat et à votre sol, à l'agencement harmonieux des éléments tels que les chemins, les terrasses, les murets et les installations d'éclairage, nous apportons une attention méticuleuse aux détails pour créer un espace extérieur harmonieux et équilibré.</p>
                    <p class="presentation-text text-muted"><i>Notez que nous privilégions l'utilisation de végétaux indigènes, résistants et nécessitant moins d'entretien, ainsi que des pratiques d'aménagement respectueuses de l'environnement. Nous sommes conscients de l'importance de préserver la beauté naturelle de notre environnement, tout en créant des espaces fonctionnels et esthétiques.</i></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 order-1 order-md-2">
            <img class="img-thumbnail rounded" src="img/création.png"/>
        </div>
    </div>
    
    <!-- Au service des particuliers -->
    <div class="row align-items-center presentation-card">
        <div class="col-md-3">
            <img class="img-thumbnail rounded" src="img/service.png"/>
        </div>
        <div class="col-md-9 text-md-start">
            <div class="row">
                <div class="col-12">
                    <h1 class="company-greener">Au service des particuliers</h1>
                </div>
                <div class="col-12">
                    <p class="presentation-text">Nous croyons en l'importance de la satisfaction du client. Nous nous efforçons de vous offrir un service de qualité supérieure, en respectant les délais convenus et en veillant à ce que chaque étape de votre projet soit réalisée avec professionnalisme et précision. Notre objectif est de créer un espace extérieur qui vous procure joie, sérénité et fierté.</p>
                    <p class="presentation-text company-green">Contactez-nous dès aujourd'hui pour discuter de votre projet d'aménagement paysager résidentiel. Que vous ayez une idée précise en tête ou que vous cherchiez l'inspiration, notre équipe est prête à transformer votre espace extérieur en un véritable paradis.</p>
                </div>
            </div>
        </div>
    </div>
    
    
    <hr>
</div>

<!-- Localisation -->
<div class="container" id="find">
    <div class="row">
        <div class="col-md-4">
            <h1 class="text-center company-greener">Où nous trouver...</h1>
            
            <p>
                <strong>Les Jardins Du Nord SARL</strong><br>
                12 rue des cerisiers<br>
                60200 Compiègne
            </p>

            <p style="margin-bottom: 0"><span class="company-green"><strong>TÈL. :</strong></span> 03.44.03.44.03</p>
            <p><span class="company-green"><strong>COURRIEL :</strong></span> jardinsdunord@contact.com</p>
            <p class="text-muted presentation-text"><i>Nous sommes heureux d'offrir nos services dans un rayon d'environ 50 km autour de notre localité. Plus d'informations lors de la réalisation du devis.</i></p>
        </div>
        <iframe class="col-md-8" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6929.432316600243!2d2.829400266203466!3d49.41638567967378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e7d68744179c0b%3A0xa1b3c776ffb2387d!2sCh%C3%A2teau%20de%20Compi%C3%A8gne!5e0!3m2!1sen!2sfr!4v1686226571896!5m2!1sen!2sfr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
    <hr/>
</div>

<!-- Contact -->
<div class="container" id="contact">
    <div class="row">
        <div class="col-md-4 text-center">
            <h1 class="company-greener">Nous contacter</h1>
        </div>
        <div class="col-md-8"></div>
    </div>
    
    <form class="needs-validation" novalidate>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">Prénom <span class="text-muted">(requis)</span></label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
            </div>
            
            <div class="col-md-6 mb-3">
                <label for="lastName">Nom <span class="text-muted">(requis)</span></label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">Adresse mail <span class="text-muted">(requis)</span></label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
            </div>
            
            <div class="col-md-6 mb-3">
                <label for="lastName">Numéro de téléphone <span class="text-muted">(requis)</span></label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
            </div>
        </div>

        <div class="mb-3">
            <label for="object">Objet <span class="text-muted">(requis)</span></label>
            <select class="form-select d-block w-100" id="object" required>
              <option>Réalisation d'un devis</option>
              <option>Demande d'information</option>
              <option>Autre</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="message">Message <span class="text-muted">(requis)</span></label>
            <textarea class="form-control" placeholder="" id="message" style="height: 100px"></textarea>
        </div>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="same-address">
            <label class="custom-control-label" for="same-address">J'autorise <span class="company-green">Jardins du Nord</span> à me recontacter <span class="text-muted">(requis)</span></label>
        </div>
        
        <!-- Bouton désactivé car démo -->
        <button class="btn text-white" type="button" id="submitButton">Envoyer</button>
    </form>
</div>

<!-- Footer -->
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top text-md-center">
    <p class="col-md-4 mb-0 text-white">&copy; 2023 Jardins Du Nord</p>

    <div class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto">
        <img src="img/logo_footer.png" class="bi me-2" width="59" height="46">
    </div>

    <ul class="nav col-md-4 justify-content-center">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Crédits</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">C.G.U.</a></li>
    </ul>
</footer>