@page
@model IndexModel
@{
    ViewData["Title"] = "Jardins du Nord";
}
<!--création de l'entéte du site-->
<header class="container-fluid text-center vh-100">
    <div id="background" class="row align-items-center justify-content-center h-100">
        <div class="col-12">
            <img src="img/C_Sharp.png" class="card-img-top" alt="le logo de la société" style="width:30%; height:auto">
        </div>
        <div class="col-12">
            <p class="col-8 bg-secondary mx-auto ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci purus, eleifend id accumsan sed, pretium at nisi.</p>
            <a href="#" class="btn btn-success">Voir ce que l'on fait</a>
        </div>
    </div>
</header>
<main>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id tristique nunc. Sed luctus velit eget turpis dignissim sagittis. In ac fermentum turpis, sagittis tempor turpis. Cras efficitur ante tincidunt lectus tempus, vel elementum lorem commodo. Nunc porta dignissim mauris, eu sodales massa bibendum eu. Aliquam ac cursus velit, ac posuere metus. Phasellus tincidunt nec dui vel suscipit. Aliquam maximus sagittis elementum. Fusce gravida nibh dolor, sed porttitor nunc convallis sed. Mauris tincidunt risus vel lectus finibus, vitae semper purus cursus. Vivamus mollis nec lorem id commodo. Nam quis dapibus odio, vitae malesuada neque. Duis efficitur ultricies tincidunt.

        Phasellus et nibh sed diam maximus pellentesque. Aliquam ac porta quam. Pellentesque dapibus, augue fringilla feugiat fringilla, magna magna posuere ante, eget volutpat ante neque id eros. Donec turpis leo, lobortis a mauris in, ultrices mollis justo. Suspendisse potenti. Integer faucibus urna eu lacus commodo cursus. Duis feugiat commodo ante, ac commodo nibh ullamcorper nec. Aliquam ac turpis vitae est dignissim malesuada.

        Duis hendrerit venenatis massa, vitae maximus metus volutpat at. Vivamus vitae ipsum ut dolor porta mattis. Curabitur nec felis vel ligula eleifend porta eu vel mauris. Curabitur in libero nibh. Morbi eget vulputate turpis, et egestas dolor. Phasellus vehicula elementum magna, quis mollis felis efficitur a. In sit amet nisi nec elit pellentesque imperdiet sit amet eget erat. Sed porttitor risus eu mauris tempus, nec accumsan magna viverra.

        Maecenas pulvinar elit vitae sem commodo bibendum. Sed pharetra viverra lobortis. Phasellus non lacus ut lorem maximus auctor. Sed condimentum ultricies volutpat. Cras non nisi risus. Vestibulum maximus id ante quis venenatis. Donec iaculis nulla a dolor pulvinar maximus. Morbi id dui orci. Cras metus metus, venenatis in tellus non, ultricies vehicula ligula.

        Phasellus a quam vitae lectus venenatis bibendum. Fusce volutpat at sapien a malesuada. Nam porta orci non nunc efficitur, laoreet congue sem lacinia. Pellentesque commodo egestas sapien in facilisis. Vestibulum porta vestibulum dapibus. Fusce id turpis eu nisi efficitur luctus. In sem ante, faucibus vitae efficitur ornare, pellentesque vitae nibh. Phasellus tristique congue dui, a aliquam justo iaculis in. Etiam sed eleifend nunc. Nunc eu porta quam, ut suscipit lorem. Quisque elementum arcu id ex blandit volutpat. Vestibulum orci elit, hendrerit non dolor sit amet, lacinia elementum nibh. Nulla sed odio in massa condimentum porttitor ac a turpis. Cras dignissim, urna id bibendum aliquet, odio odio eleifend massa, eget venenatis lorem nisl non magna.

        Vivamus congue pellentesque ante, in gravida augue viverra tristique. Etiam viverra ultricies tellus quis eleifend. Etiam eros nunc, vestibulum eget malesuada sit amet, semper eu turpis. Etiam vel felis eget erat egestas fermentum ut quis augue. Nunc ac nisi a ipsum dignissim porttitor. Maecenas tincidunt eros ipsum, sit amet finibus odio gravida eget. Fusce aliquam nisi in pulvinar dictum. Mauris egestas turpis vel augue convallis, hendrerit eleifend nibh iaculis. Donec malesuada posuere quam nec faucibus. Vivamus velit velit, sagittis a fringilla ut, posuere vitae lectus. Cras mattis tellus eu dapibus pharetra. Fusce pharetra ipsum pellentesque, ultricies nibh et, fermentum ante. Nam dictum dui et lorem euismod, nec efficitur est eleifend. Cras congue ligula consectetur ultrices ornare. Phasellus nec sagittis mauris.

        Nullam et lorem ut sem feugiat efficitur. Pellentesque sapien mi, ullamcorper eu fermentum sit amet, suscipit in leo. Fusce commodo et elit sit amet accumsan. Etiam blandit lobortis facilisis. Fusce finibus fringilla tincidunt. Maecenas porta vitae est at mattis. Pellentesque accumsan fringilla orci, nec pharetra lectus sodales scelerisque. Nunc maximus pretium libero. Nulla in est viverra, aliquet ligula et, tempus tortor. Nulla facilisi.

        Fusce diam enim, semper tincidunt auctor consequat, vehicula ac quam. Mauris posuere nulla eu aliquam euismod. Quisque tempor accumsan elit in feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam ut viverra libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur interdum dignissim. Suspendisse potenti. Donec molestie, lectus sit amet convallis viverra, arcu ligula fermentum sapien, eu malesuada mauris orci eu neque. Nullam tincidunt luctus mollis. Vivamus a arcu eget arcu congue sollicitudin. Nunc nunc justo, fermentum id odio vitae, tempus hendrerit enim. Ut eget molestie risus. Phasellus tempus sodales mauris. Aliquam nisl magna, malesuada sit amet ligula non, congue accumsan risus.

        Duis hendrerit fringilla tempus. Donec eleifend posuere facilisis. Vivamus tristique, ex non sagittis hendrerit, metus felis dictum ex, et pharetra dolor lorem id lectus. Duis quis risus commodo magna tempor tempus. Cras nisl orci, suscipit nec tortor a, maximus cursus orci. Nunc at rutrum ante. Sed ac semper magna, ac feugiat sapien. Ut at ante vel ex tempus placerat nec vel mi. Aliquam sem turpis, lobortis tempor arcu nec, dapibus ullamcorper sem. Mauris finibus velit id lobortis pulvinar. Phasellus non feugiat felis. Aliquam a erat est. Donec a nulla lorem.

        Sed tincidunt non augue ultrices ultricies. Proin pharetra vulputate neque in tempus. Vestibulum nec velit lorem. Fusce pharetra, erat eget lacinia dapibus, arcu velit hendrerit leo, vel pulvinar sapien nulla sed elit. Quisque massa nulla, dapibus sed ante tincidunt, ornare consectetur erat. Proin nec magna eget justo imperdiet egestas. Mauris diam tortor, porttitor quis lectus a, sollicitudin tempus lectus. Sed auctor pellentesque lorem. Praesent non hendrerit arcu. Duis varius justo vitae tortor auctor bibendum. Integer vulputate maximus justo, ut volutpat sem commodo in. Suspendisse sagittis, ante eu consectetur porta, turpis risus consequat eros, ut euismod dolor neque id lacus.
    </p>
</main>

<footer class="row align-items-center" style="background-color:#264f25;">
    <div class="text-center mx-auto">
        <img src="img/C_Sharp.png" id="logo-footer" alt="le logo de la société">
    </div>
    <div class="align-items-center justify-content-center">
        <div class="text-center">
            <button type="button" class="btn border-dark rounded text-light btn btn-outline-primary"
                    data-bs-toggle="modal" data-bs-target="#creditsModal">
                Crédits
            </button>
        </div>
        <div class="text-center">
            <button type="button" class="btn border-dark rounded text-light btn btn-outline-primary"
                    data-bs-toggle="modal" data-bs-target="#CGU">
                CGU
            </button>
        </div>
    </div>

    <!--MODAL CREDIT-->
    <div class="modal fade" id="creditsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fs-5" id="exampleModalLabel">
                        Crédits
                    </h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><span class="fw-bold">Identité graphique:</span> Marc</p>
                    <p><span class="fw-bold">Codage du site:</span> Arthur / Marc / Alban</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--MODAL CGU-->
    <div class="modal fade" id="CGU" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fs-5" id="exampleModalLabel">
                        CGU
                    </h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</footer>