@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');
#background {
    background-image: url("../img/a.jpg");
    background-size: cover;
    background-position: center;
}
#logo-footer{
    height: 40%;
    width: auto;
}